<?xml version="1.0"?>

<model>
  <name>Gazebo ROS Retina Camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ugo Albanese</name>
    <email>u.albanese@santannapisa.it</email>
  </author>

  <description>
    Usage example of the Gazebo Ros Retina plugin with a box for visualization.
  </description>
</model>
